* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}





.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 175, 173);
    align-items: center;
    text-align: center;
    padding: 0px 30px;
    color: aliceblue;
    border-bottom: 2px solid rgb(14, 13, 13);
}

.header ul :hover {
    cursor: pointer;
    color: #0839fcc7;
}

.header i :hover {
    cursor: pointer;
    color: #0839fcc7;
}

.header_name {
    display: flex;
    text-align: center;
    align-items: center;
}

.header_name img {
    height: 80px;
    /* margin: 20px; */
}

.header_name ul {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;

}

.header_name ul li {
    text-align: center;
    align-items: center;
    margin: 10px;
    font-size: 20px;
}

.header_icon i {
    margin: 10px;
    font-size: 23px;
    color: white;
}

.bg_img {
    background-image: url(bmw\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

.firstpara {
    color: aliceblue;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.firstpara h1 {
    font-size: 100px;
}

.bg_img h5 {
    color: aliceblue;
    margin: 20px;
    font-size: 20px;
}

.firstpara h4 {
    font-size: 25px;
}

.firstpara h3 {
    padding-top: 150px;
}

.firstpara_b button {
    padding: 10px 15px;
    color: white;
    transition: all .4s;
    border: 2px solid aliceblue;
    background-color: #2550f5c7;
}

.firstpara_b_1:hover {
    cursor: pointer;
    background-color: #0839fcc7;

}

.secondpara {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.secondpara div h1 {
    font-size: 45px;
    margin-top: 20px;
}

.thirdpara {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    /* margin: 30px; */
    /* padding: 30px; */
}

.thirdpara div i {
    font-size: 60px;
}

.thirdpara_div {
    margin: 50px;
    padding: 30px;
}

.thirdpara_div button {
    padding: 12px 25px;
    margin: 50px;
    font-size: 15px;
}

.fourthpara_img {
    background-image: url(2017-BMW-M760Li-xDrive-1240.jpg);
    display: flex;
    align-items: center;

    /* background-size: 100vh; */
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

}

.fourthpara_img div {
    margin-left: 50px;
}

.fourthpara_img_button {
    padding: 13px 80px;
    font-size: 22px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 40px;
}

.fourthpara_img_h1 {
    font-size: 25px;
    color: whitesmoke;
}

.lastpara {
    display: flex;
    align-items: center;
    margin: 20px 50px;
}

.lastpara_d {
    padding-right: 50px;
    padding-left: 50px;
}

.lastpara h1 {
    font-size: 40px;
}

.lastpara div button {
    padding: 13px 40px;
    font-size: 18px;
    color: #0e0d0d;
    background-color: transparent;
    border: 1px solid #0c0b0b;
    margin-top: 40px;
}

footer {
    height: 300px;
    background-color: rgba(230, 228, 228, 0.192);
    display: flex;
}

.footer_div {
    display: flex;
    margin: 20px 50px;
}

.footer_div_1 {
    margin: 30px;
    padding: 40px;
}

.footer_div_1 ul li {
    list-style: none;
    margin: 10px 0px;
}

.footer_div_1 i {
    font-size: 12px;
}

@media screen and (max-width: 450px) {
    .header_name img {
        height: 40px
    }

    .header {
        padding: 0px;
    }

    .header_name ul li {

        margin: 5px;
        font-size: 5px;
    }

    .header_icon i {
        margin: 2px;
        font-size: 13px;
    }

    .bg_img {
        height: 180px;
    }

    .firstpara h3 {
        font-size: 7px;
        padding: 0px;
    }

    .firstpara h1 {
        font-size: 30px;
    }

    .firstpara h4 {
        font-size: 10px;
    }

    .firstpara_b button {
        padding: 3px 2px;
        font-size: 5px;
        border: 1px solid aliceblue;
    }

    .bg_img h5 {
        color: aliceblue;
        margin: 2px;
        font-size: 5px;
    }

    .secondpara div h4 {
        font-size: 8px;
    }

    .secondpara div h1 {
        font-size: 25px;

        margin: 0px;
    }

    .thirdpara {
        /* flex-direction: column; */
        padding: 0px;
        margin: 0px;
    }

    .thirdpara_div {
        font-size: 10px;
        padding: 0px;
        margin: 0px;
    }

    .fourthpara_img_button {
        padding: 1px 5px;
        font-size: 8px;
        margin: 0px;
    }

    .fourthpara_img {
        height: 150px;
    }

    .fourthpara_img div {
        margin-left: 10px;
    }

    .fourthpara_img_h1 {
        font-size: 10px;
    }

    .lastpara {
        flex-direction: column;
        margin: 0px;
    }

    .lastpara img {
        height: 200px;
    }

    .lastpara_d {
        padding-right: 20px;
        padding-left: 20px;
    }

    .lastpara h1 {
        font-size: 30px;
    }

    .lastpara div button {
        padding: 10px 30px;
        font-size: 15px;
        margin-top: 20px;
    }

    .footer_div_1 {
        margin: 10px;
        padding: 10px;
    }

    .footer_div_1 ul li {
        list-style: none;
        margin: 2px 0px;
        font-size: 8px;
    }

    .footer_div {
        margin: 0px;
    }

    .footer_div_1 i {
        font-size: 6px;
    }

    footer {
        height: 150px;
    }

    .thirdpara_div button {
        padding: 2px 8px;
        margin: 15px;
        font-size: 8px;
    }

    .thirdpara div i {
        font-size: 40px;
    }



}